<div>
    <h1>Create a New Post</h1>
    <%= form_with model: @post, url: user_posts_path, method: :post, scope: :post do |f|%>
      <%= f.text_field :title, placeholder: "Add Title"%>
      <%= f.text_field :text, placeholder: "Add Text"%>
      <%=f.submit%>
    <%end%>
</div>