<section class="posts_container">
  <%= render partial: "shared/user", locals: {user: @user || "There are currently no users found"} %>
  <% @posts.each do |post| %>
  <%= render partial: 'shared/post', locals: { post: post, show_full_post: false } %>
  <div class="recent_comments">
    <% post.recent_comments.each do |comment| %>
      <%= render partial: 'shared/comment', locals: { comment: comment } %>
    <% end %>
  </div>
  <% end %>
  <button type="button" class="back_button btn"><%= link_to "Click Here To Go Back To Posts", user_path(id: @user.id) %></button>
  <button type="button" class="pagination_button btn">Pagination</button>
</section>